
/* Fondos pagina */

body {
    background: linear-gradient(to bottom, #717172 50%, #353537 100%);

    margin: 0;
    min-height: 100vh;
}

h1,h2, p {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-weight: none;
    font-size: 1rem;
}

header {
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 1rem;
    justify-content: center;
}


/* Fondo de contenedores */
.contenedor {
    /* Dimensiones y espaciado */
    width: auto;
    padding: 1.5rem;
    border-radius: 6px; /* Ligero redondeo clásico */

    /* El color de fondo: Un degradado azul de arriba hacia abajo */
    background: linear-gradient(to bottom, #717172 40%, #353537 100%);

    /* 1. Borde principal gris claro / blanco sucio */
    border: 4px solid #d4d4d4;

    /* 2. Borde exterior negro intenso (no ocupa espacio en el layout) */
    outline: 2px solid #000000;

    /* 3. Sombra interna para dibujar la línea negra entre el borde gris y el fondo azul */
    box-shadow: inset 0 0 0 2px #000000;

    /* Estilos de texto */
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.contenedor-formulario {
    width: 400px;
    margin: 0 auto;

}

/* configuraciones del formulario */
.contenedor-formulario h2 {
    font-size: 1.7rem;
    margin-top: 0;
}


.contenedor-formulario {
    margin-bottom: 4rem;
}

.campo {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.campo:last-child {
    margin-bottom: 0;
}

input , select{
    padding: .4rem 1.7rem;
    margin-top: .5rem;
    border-radius: 6px;
}

.btn-submit {
    color: #3c3a3a;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    display: block; 
    margin: 0 auto;
}

.btn-submit:hover {
    background-color: #b5b4b4;
}

/* Contendor de los datos de los personajes */

.contenedor-datos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 900px) {

    main {
        display: flex;
        flex-direction: column;
    }

   .contenedor-datos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
}

/* Errores */

.alerta {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 1.3rem;
}

.error {background-color: red;}
.exito {background-color: green;}

/* Configuracion imagenes */

.estilo-img {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
}